body{

    background: radial-gradient(circle, beige, beige, white);
    margin:64px;
    padding: 20px;
    width: 1740px;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(beige);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1{
    color: rgb(149, 60, 15);
    font-size: 65px;
    text-align: center;
    padding: 60px;
}
p{
    text-align: justify;
    font-size:24px;
    margin: 34px;
    
    
    
}
h2{
    text-align: center;
    font-size:38px;
    color:rgb(149, 60, 15);
    
}
img{
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
h3{
    text-align: center;
    
}
button{
    
    background-color: rgb(149, 60, 15);
    color: #f5f5dc;
    border-radius: 10px;
    cursor: pointer;
    
}
button:hover{
        background-color: #f5f5dc;
        color: rgb(149, 60, 15);
}
    
button a:hover{
        background-color: #f5f5dc;
        color: rgb(149, 60, 15);
}
    
a{
        color: beige;
        text-decoration: none;
        font-size: 18px;
}
 
nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: rgb(149, 60, 15);
    color: #fff;
    padding: 20px;
    text-align: left;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
    
#menuu{
        background-color: rgb(149, 60, 15);
        color: black;
}

#container{

    display: flex;
    padding-top: 20px;
        
}

.seta{
    position: fixed; /* Fixa o item na tela */
    bottom: 20px;      /* Posição superior (ajuste conforme necessário) */
    right: 20px;     /* Posição direita (ajuste conforme necessário) */
    
    padding: 10px;
    
}

#glossario{
    float: right;
}

#caso{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
}

.casinho{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
    float: left;
    width: 400px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.limpar{
    clear: both;
}

#listacasos{
    margin-left: 100px;
}

#listacasos{
    margin-left: 100px;
}

.casinhocensura{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
    /*float: left;*/
    width: 1600px;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.flutuante{
    float: left;
}